* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

/******************************/
/* HERO SECTION */
/******************************/
.hero-section {
  background-color: #1f2937;

  padding: 20px 160px 120px;
  margin-bottom: 35px;
}

.header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 120px;
}

.header h3 {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  list-style-type: none;
  font-size: 18px;

  gap: 20px;
}

.header-links a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero-content {
  display: flex;

  justify-content: space-between;
}

.hero-content-left {
  padding-right: 10px;
}

.hero-content-left h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-content-left p {
  font-size: 18px;
  color: #e5e7eb;

  margin-bottom: 10px;
}

.hero-content-right img {
  width: 480px;
  height: auto;
}

.btn1 {
  background-color: #3882f6;
  font-size: 18px;

  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  color: #f9faf8;
}

/******************************/
/* MAIN SECTION */
/******************************/

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* Information Section */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.info h3 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info p {
  font-size: 18px;
  color: #1f2937;
}

.boxes {
  display: flex;
  gap: 10px;
}

.box {
  width: 100px;
  height: auto;
}

/* Quote Section */
.quote {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.caption {
  align-self: end;
  font-weight: bold;
  font-style: normal;
}

/* Call To Action Section*/
.call-to-action {
  display: flex;
  justify-content: center;
  background-color: #3882f6;
}

.call-to-action-left {
  font-size: 18px;
  color: #f9faf8;
}

.btn2 {
  font-size: 18px;
  color: #f9faf8;
  background-color: #3882f6;
}

/******************************/
/* FOOTER SECTION */
/******************************/

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  color: #f9faf8;
}
