* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

/* Hero Section */
.header {
  display: flex;
  justify-content: space-around;
}

.header-links {
  display: flex;
  list-style-type: none;
}

.hero-content {
  display: flex;
  justify-content: space-around;
}

/* Information Section */
.info {
  display: flex;
  justify-content: center;
  gap: 10px;
}
